*{font-family: "Roboto";}

body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    gap: 25px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.hero, .header{
    background-color:#1F2937;
    gap: 20px;
}

.header, .hero{
    padding: 0 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-logo-text{
    font-size: 24px;
    color: #F9FAF8;
}
.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-left{
    flex-basis: 450px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.hero-left button{
    background-color: #3882F6;
    border-radius: 5px;
    padding: 7px 24px;
    border: none;
    font-weight: 900;
}

.hero-img{
    flex-shrink: 0;
}

.hero-img img{
    width: 500px;
    height: 250px;
    
}

