*{font-family: "Roboto";}

body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    gap: 25px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/*HEADER AND HERO SECTION*/

.hero, .header{
    background-color:#1F2937;
    gap: 20px;
}

.header, .hero{
    padding: 0 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-logo-text{
    font-size: 24px;
    color: #F9FAF8;
}
.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.hero-left{
    flex-basis: 450px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.hero-left button{
    background-color: #3882F6;
    border-radius: 5px;
    padding: 7px 24px;
    border: none;
    font-weight: 900;
}

.hero-img{
    flex-shrink: 0;
}

.hero-img img{
    width: 500px;
    height: 250px;
    
}

/*INFO SECTION*/

.info{
    display: flex;
    flex-direction: column;
    padding: 50px 0px 100px;
    justify-content: center;
    align-items: center;
}

.info-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 50px;
}

.cards{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.card{
    flex: 0 1 175px;
    text-align: center;
    font-size: 18px;
    color: #6c6c6d;
    font-weight: 100;
}

.card div{

    border: 4px solid #3882F6;
    border-radius: 25px;
    width: 100%;
    height: 175px;
}

/*QUOTE SECTION*/

.quote{
    background-color: #E5E7EB;
    padding: 150px 300px;
}

.quote-text{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
    color: #1F2937;
}

.author{
    display: table;
    margin-left: auto;
    font-size: 18px;
    color: #1F2937;
    font-weight: 900;
}

/*SIGN UP SECTION*/

.sign-up{
    padding: 100px 200px;
    color: #E5E7EB;
}

.container{
    background-color: #3882F6;
    display: flex;
    border-radius: 10px;
    padding: 50px 100px;
    justify-content: space-between;
}

.container button{
    background-color: #3882F6;
    border-radius: 5px;
    padding: 0px 24px;
    font-weight: 900;
    color: #E5E7EB;
    border: 2px solid white;
    height: 35px;
    align-self: center;
    width: 107px;
}

.container h3{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}

.container p{
    margin: 0;
    padding: 0;
    font-size: 18px;
}